# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.so

.env/
venv/
env/
.venv/

.vscode/
.idea/

.pytest_cache/
.mypy_cache/

*.log

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db

coverage.xml
htmlcov/